<div class="container">
  <% if @bookings.empty? %>
    <strong><h1 class="text-center">My Bookings</h1></strong>
    <div class="booking-background-image">
      <div class="row my-2">
        <div class="nobooking">
          <h4>You currently have no bookings!</h4>
            <div class="btn btn-danger">
              <%= link_to 'Find a Mawnlower', root_path, class:'text-info' %>
            </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="my-booking-container">
      <div class="my-booking-card">
        <% @bookings.each do |booking| %>
          <p><%= booking.lawnmower.title.capitalize %>: <%= booking.lawnmower.price %>$</p>
          <p>Booking confirmed on: <%= booking.booking_date%></p>
          <p>By: <%= booking.user.name %>, Address: <%= booking.user.address %></p>
            <% if booking.pending? %>
              <p><%= booking.lawnmower.user.name %> has received your request.</p>
              <p>Status: Order pending</p>
            <% elsif booking.confirmed? %>
              <p>Status: Order confirmed</p>
            <% else %>
              <p>Status: Order cancelled</p>
            <% end %>
          <small><%= link_to 'View Booking', lawnmower_booking_path(booking.lawnmower, booking)%></small>
          <small><%= link_to 'Delete Booking', lawnmower_booking_path(booking.lawnmower, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-danger' %></small>
        <% end %>
      </div>
    </div>
  <% end %>
 <div class="my-confirmed-container">
 <strong><h1>To be confirmed</h1></strong>
    <% if @lawnmowerbookings.empty? %>
        <h4>Currently no bookings!</h4>
    <% else %>
      <% @lawnmowerbookings.each do |booking| %>
                  <p><%= booking.lawnmower.title.capitalize %>: <%= booking.lawnmower.price %>$</p>
                  <p>Booking confirmed on: <%= booking.booking_date%></p>
                  <p>Address: <%= booking.user.address %></p>
                  <p>By: <%= booking.user.name %></p>
                    <% if booking.pending? %>
                      <p><%= booking.lawnmower.user.name %> has received your request.</p>
                      <p>Status: Order pending</p>
                    <% elsif booking.confirmed? %>
                      <p>Status: Order confirmed</p>
                    <% else %>
                      <p>Status: Order cancelled</p>
                    <% end %>
      <% end %>
    <% end %>
</div>
