<h1>MyBookings</h1>
<div class="row my-2">
    <% @bookings.each do |booking| %>
        <% if booking.user_id == current_user.id%>
          <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
            <div class="bg-white rounded shadow h-100">
              <div class="p-3 rounded-bottom d-flex flex-column">
                <p><%= booking.lawnmower.title.capitalize %>: <%= booking.lawnmower.price %>$</p>
                <p>Booking confirmed on: <%= booking.booking_date%></p>
                <p>Address: <%= booking.user.address %></p>
                <p>By: <%= booking.user.email %></p>
                <small><%= link_to 'Delete Booking', lawnmower_booking_path(booking.lawnmower, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-danger' %></small>
              </div>
            </div>
          </div>
          <% else %>
            <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
              <div class="bg-white rounded shadow h-100">
                <div class="p-3 rounded-bottom d-flex flex-column">
                  <p>There are no bookings at the moment🫡</p>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
