<div class="">
  <div class="card-product">
    <div class="img">
    <%= cl_image_tag @booking.lawnmower.photo.key %>
    </div>
    <div class="product-info">
      <div class="card-product-infos">
        <h2><%= @booking.lawnmower.title %></h2>
        <p>Decription: <%= @booking.lawnmower.description %></p>
        <p>Speed: <%= @booking.lawnmower.speed %></p>
      </div>
      <div class="pricing-info">
        <h3>Price: <%= @booking.lawnmower.price %>€</h3>
        <%= link_to 'Cancel', bookings_cancelled_path, class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
  </div>
<div>
