<h1>MawnLowers</h1>
<div class="row my-2">
  <% if @lawnmowers.empty? %>
    <p>There are no MawnLowers</p>
    <% else %>
    <% @lawnmowers.each do |lawnmower| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= lawnmower.title.capitalize %> <span class="text-muted font-weight-normal">• <%= lawnmower.price %> <i class="fas fa-dollar"></i></span></strong>
               <% lawnmower.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            <small class="text-muted"><%= lawnmower.description %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <span>Speed:  </span><small class="flex-grow-1"><%= lawnmower.speed %></small>
              </div>
              <small class="text-right flex-shrink-0">
              <% if user_signed_in? %>
                  <%= link_to 'View Offer', lawnmower_path(lawnmower), data: { turbo_method: :get } %></small>
                  <%= link_to 'Delete lawnmower', lawnmower_path(lawnmower), data: { turbo_method: :delete, confirm: "Are you sure you want to remove #{lawnmower.title}"}, class: 'text-danger' %></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
