  <% @sum = 0 %>
  <% @lawnmower.reviews.each do |review| %>
  <%   @sum += review.rating %>
  <% end %>

<div class="card">
  <div class="card-product">
    <div class="img">
    <%= cl_image_tag @lawnmower.photo.key %>
    </div>
    <div class="product-info">
      <div class="card-product-infos">
        <h2><%= @lawnmower.title %></h2>
        <p>Decription: <%= @lawnmower.description %></p>
        <p>Speed: <%= @lawnmower.speed %></p>
      </div>
      <div class="pricing-info">
        <h3>Price: <%= @lawnmower.price %>€</h3>
        <%= link_to "Book", new_lawnmower_booking_path(@lawnmower), class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
<div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Reviews
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="card-reviews">
          <div>
            <% if @lawnmower.reviews.empty? %>
              <p>Be the first to add a review!</p>
            <% else %>
              <h3>Reviews(<%= @lawnmower.reviews.count %>) <%= @sum/@lawnmower.reviews.count %><i class="fas fa-star star-yellow"></i></h3>
              <% @lawnmower.reviews.each do |review| %>
              <div class="review-info">
                <p><%= review.rating %><i class="fas fa-star star-yellow"></i></p>
                <p><%= review.comment %></p>
                <p>Review by: <%= review.user.name %></p>
                <% if review.user == current_user %>
                  <small><%= link_to 'Delete Review', lawnmower_review_path(review.lawnmower, review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-danger' %></small>
                <% end %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Create Review
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="review-form">
          <h2>Add your own review!</h2>
          <%= simple_form_for([@lawnmower, @review]) do |f| %>
            <%= f.input :comment, placeholder: 'Add your review here!' %>
            <%= f.input :rating, placeholder: 'Rate me!' %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: "btn btn-outline-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
